
.pro-container1{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10%;
    justify-content: space-between;
    padding-top: 20px;
    /* flex-wrap: wrap; */
}

.pro-container2{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10%;
    justify-content: space-between;
    padding-top: 20px;
    /* flex-wrap: wrap; */
}

.pro {
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.pro:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s;
}

.pro img {
    width: 550px;
    height: 412px;
    order: 1;
    border-radius: 20px;

}

.pro .des {
    color: white;
    text-align: start;
    order: 2;
    padding: 10px 50px;
}

.pro .des span {
    color: #30bee6;
    font-size: 14px;
}

.pro .des h5 {
    padding-top: 10px;
    color: #e83f3f;
    font-size: 24px;

}

.pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);

}

.pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}