* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.sidebar {
    height: 100vh;
    background: white ;
    display: flex;    

}

.side {
    background-color: rgba(6, 6, 6, 0.978);
    width: 15vw;
    height: 100vh;
}

.side ul {
    margin-top: 25vh;
    line-height: 60px;
    font-size: large;
    text-align: center;
    text-decoration: solid;
    cursor: pointer;
}

.side ul :hover {
    color: rgb(96, 23, 241);
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
}

.side ul li {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

.box1{
    margin: 10vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
}

.info {
    display: flex;
    padding-left: 100px;
}

.text{
    padding: 150px;
    margin: 40px;
    order: 1;

}

.hello {
    color: rgb(9, 9, 9);
    font-size: 50px;
}

.name {
    color: rgb(13, 14, 13);
    font-size: 35px;
    
}

.buttons {
    display: flex;
    margin-top: 25px;
}

.buttons button {
    padding: 10px 14px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color:   #088178;
    border-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 21px;
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    font-style: bold;

}

.buttons button:hover {
    background-color: rgb(163, 171, 215);
    color: rgb(254, 254, 254);
}
.info img{
    border-radius: 500px;
    order: 2;
    height: 40vh;
    width: 300px;
    margin-top: 150px;
    
}
#element{
    color: slateblue;
    padding-top: 15px;
    font-size: 40px;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    line-height: 50PX;
}
/* Academic qualification */

#pro-container{
   display: flex;
   flex-direction: column;
   padding-top: 100px;
}
#pro-container h2{
    align-self: center;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.head{
    
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 10px 12px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.head:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
    background-color: #088178;
    color:#fff;
}

.info{
    display: flex;
    flex-direction: row;
}
.info ul{
    list-style: circle;
}

.info ul li{
    font-size: 16px;
}


/* contact page */
#form-details {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#form-details form button:hover{
    background-color: rgb(163, 171, 215);
    color: white;
}

/* contact details */


#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 100%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;

}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

 /* footer page */

 footer {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 0px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

footer .Follow {
    margin-top: 20px;
}

footer .Follow i {
    color: 465b52;
    padding-right: 6px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .Follow i:hover,
footer a:hover {
    color: #088178;
}

.copyright {
    background-color: black;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.copyright a{
    color: white;
}

.copyright a:hover{
    color: #088178;
}

